@font-face {
  font-family: 'bridgend';
  src: url('/fonts/brigendsexpanded-nrek1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

